
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* set the background color as a linear gradient #0166E7 to #B4D7FE */
    background: linear-gradient(to right, #5497f0, #3284e2);
    color:rgb(206, 209, 212);
}


